body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12vh;
}

.navbar {
  position: relative;
  text-align: center;
}

.navbar-center {
  display: inline-flex;
  align-items: center;
}

.navbar-name {
  font-size: 54px; /* Slightly bigger font size */
  font-weight: bold;
  margin-right: 10px;
}

.dropdown-bubble {
  background-color: #444;
  color: white;
  border: none;
  padding: 12px; /* Increased padding for a bigger bubble */
  font-size: 28px; /* Slightly bigger font size */
  cursor: pointer;
  border-radius: 50%;
}

.dropdown-bubble:hover {
  background-color: #555;
}

.dropdown-menu {
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #444;
  border: 1px solid #333;
  border-radius: 5px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 10px;
  z-index: 999;
}

.dropdown-menu a {
  display: block;
  padding: 10px 20px;
  color: #333;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.dropdown-menu a:hover {
  background-color: #999;
}

/* Media Queries */

/* Tablet */
@media (max-width: 768px) {
  .navbar-name {
    font-size: 36px; /* Adjusted font size for tablets */
  }

  .dropdown-bubble {
    padding: 10px;
    font-size: 24px; /* Adjusted font size for tablets */
  }

  .dropdown-menu {
    top: 60px; /* Adjusted top position for tablets */
  }

  .dropdown-menu a {
    padding: 8px 16px; /* Adjusted padding for tablets */
  }
}

/* Mobile */
@media (max-width: 480px) {
  .navbar-name {
    font-size: 28px; /* Adjusted font size for mobiles */
  }

  .dropdown-bubble {
    padding: 8px;
    font-size: 20px; /* Adjusted font size for mobiles */
  }

  .dropdown-menu {
    top: 50px; /* Adjusted top position for mobiles */
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }

  .dropdown-menu a {
    padding: 6px 12px; /* Adjusted padding for mobiles */
  }
}
