body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.resume-container {
  display: flex;
  height: 100vh;
  background-color: #f8f8f8;
  flex-direction: column;
}

.resume-left, .resume-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resume-left {
  background-color: #ffffff;
  border-right: 1px solid #ccc;
  padding: 20px;
  text-align: center;
}

.resume-left h1 {
  color: #333;
  font-size: 24px;
}

.resume-right {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resume-pdf {
  width: 100%;
  height: 90vh;
  border: none;
}

/* Media Queries */

/* Tablet */
@media (max-width: 768px) {
  .resume-container {
    flex-direction: column;
    height: auto;
  }

  .resume-left, .resume-right {
    flex: none;
    width: 100%;
  }

  .resume-left {
    border-right: none;
    border-bottom: 1px solid #ccc;
    padding: 10px;
  }

  .resume-left h1 {
    font-size: 20px;
  }

  .resume-right {
    padding: 10px;
  }

  .resume-pdf {
    height: 50vh;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .resume-container {
    flex-direction: column;
    height: auto;
  }

  .resume-left, .resume-right {
    flex: none;
    width: 100%;
  }

  .resume-left {
    border-right: none;
    border-bottom: 1px solid #ccc;
    padding: 10px;
  }

  .resume-left h1 {
    font-size: 18px;
  }

  .resume-right {
    padding: 10px;
  }

  .resume-pdf {
    height: 40vh;
  }
}
